<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
  </head>
  <body>
    <!-- Begin Page Content -->
    <div class="container">
      <div class="page-header">
        <h2>Arun Reddy Nelakurhti</h2>
      </div>

      <p>
         I am a PhD student at the STAR Lab, Arizona State University (ASU), working under the supervision of Dr. Jingrui He. My research areas include Heterogenous Learning and User modeling. Before joining PhD program at ASU, I did my M.S by thesis at ASU under the supervision of Dr. Heather Pon Barry.
      </p>


      <p>arunreddy {at} asu {dot} edu


    </div><!-- End Page Content -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">This is the footer</p>
      </div>
    </footer>
  </body>
  <!-- JavaScript -->
  <script type="text/javascript" src=""></script>
</html>

